# Ignoring sparseMatrix build files
spmm-butterfly/build/CMakeCache.txt
spmm-butterfly/build/CMakeFiles/
spmm-butterfly/build/Makefile
spmm-butterfly/build/butterfly-mm
spmm-butterfly/build/cmake_install.cmake
spmm-butterfly/build/libinit_CSR_lib.a
spmm-butterfly/build/libspGEMM_lib.a
spmm-butterfly/build/main

# Ignoring BinarySearch binaries and nsys stuff
MiscAlgorithms/BinarySearch/binarysearchCUDA
MiscAlgorithms/BinarySearch/benchmark
!MiscAlgorithms/BinarySearch/benchmarking-data/README.md
MiscAlgorithms/BinarySearch/*.nsys-rep
MiscAlgorithms/BinarySearch/*.sqlite

magic-commands.txt