# Ignoring sparseMatrix build files
sparseMatrix/build/CMakeCache.txt
sparseMatrix/build/CMakeFiles/
sparseMatrix/build/Makefile
sparseMatrix/build/butterfly-mm
sparseMatrix/build/cmake_install.cmake
sparseMatrix/build/libinit_CSR_lib.a
sparseMatrix/build/libspGEMM_lib.a
sparseMatrix/build/main

# Ignoring BinarySearch binaries and nsys stuff
MiscAlgorithms/BinarySearch/binarysearchCUDA
MiscAlgorithms/BinarySearch/benchmark
!MiscAlgorithms/BinarySearch/benchmarking-data/README.md
MiscAlgorithms/BinarySearch/*.nsys-rep
MiscAlgorithms/BinarySearch/*.sqlite

